body, html {
    height: 100%;
  }

.hero{
    position: relative;
}

.hero__background{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.hero__content-pt-190{
    padding-top: 190px
}

.text{
    font-family: 'Lato', serif;
}

.text-size-45{
    font-size: 45px;
}

.text-size-40{
    font-size: 40px;
}

.text-size-35{
    font-size: 35px;
}

.text-size-30{
    font-size: 30px;
}

.text-size-24{
    font-size: 24px;
}

.text-size-18{
    font-size: 18px;
}

.text-size-17{
    font-size: 17px;
}

.text-size-13{
    font-size: 13px;
}

.text-color-main{
    color: #006699;
}

.title-p-50{
    padding: 50px;
}

.title__underline-mt--20{
    margin-top: -20px;
}

.pt-90{
    padding-top: 90px;
}
.content-block{
    position: relative;
}

.content-block__container{
    position: relative;
    z-index: 100;
}

.content-block__container-mb-5{
    margin-bottom: 3rem;
}

.content-block__container-mb-2{
    margin-bottom: .5rem;
}

.icon{
    position: relative;
}

.icon_size-sm{
    width:170px;
    height:170px;
}

.icon__inner_position-default{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.icon__inner-size-200{
    
    height: 150px;
}

.icon__image-size-default{
    width: 90px;
    height: 90px;
}

.icon__image-size-sm{
    width: 40px;
    height: 40px;
}

.icon__image-mt-4-5{
    margin-top:2rem;
}

.icon__desc-mt-2{
    margin-top: .5rem;
}

.icon__desc-mt-4{
    margin-top: 1.5rem;
}



.icon__desc-mb-5{
    margin-bottom: 3rem;
}

.icon__desc-mb-2{
    margin-bottom: .5rem;
}

.icon__inner-mp-3{
    margin: 1rem;
    padding: 1rem;
}

.icon__inner-border-br{
    
    border-bottom: solid 1px #006699;
    border-right: solid 1px #006699;
}

.icon__background{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-block__container-row{
    display: flex;
    margin-top: 2.5rem;
}

.vertical-block-hide{
    display: none;
}
.vertical-block{
    position: absolute;
    top:-1px;
    left:8vw;
    right: 0;
    bottom:0;
    z-index: 100;
    max-width: 30px;
}

.vertical-block__border{
    border: white solid 1px;
}


.text-vertical{
    transform: rotate(-90deg);
    height: 165px;
    width: 165px;
    letter-spacing: 5px;
}

@media (min-width: 576px){
    .content-block__container-row-sm{
        display: flex;
        margin-top: 2.5rem;
    }

    .icon_stairs-sm{
        margin: 0 .5rem .5rem 0;
    }
}

@media (min-width: 768px){
    .content-block__container-row-md{
        display: flex;
        margin-top: 2.5rem;
    }

    .icon_stairs-md{
        margin: 0 3rem 3rem 0;
    }
}

@media (min-width: 992px){
    .content-block__container-row-lg{
        display: block;
        margin-top: 0;
    }
    .icon_stairs-lg:nth-child(even){
        margin-left: calc(54% + 10px);
    }
    
    .icon_stairs-lg:not(:first-child){
        margin-top: -52%;
    }

    .icon_stairs-lg{
        margin: 0;
    }

    .vertical-block-show-lg{
        display: block;
    }
}
