body, html {
    height: 100%;
  }

.hero{
    position: relative;
}

.hero__background{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.hero__content-pt-190{
    padding-top: 190px
}

.text{
    font-family: 'Lato', serif;
}

.text-size-45{
    font-size: 45px;
}

.text-size-40{
    font-size: 40px;
}

.text-size-35{
    font-size: 35px;
}

.text-size-30{
    font-size: 30px;
}

.text-size-24{
    font-size: 24px;
}

.text-size-18{
    font-size: 18px;
}

.text-size-17{
    font-size: 17px;
}

.text-size-13{
    font-size: 13px;
}

.text-color-main{
    color: #006699;
}

.title-pt-50{
    padding: 50px;
}

.title__underline-mt--20{
    margin-top: -20px;
}

.pt-90{
    padding-top: 90px;
}
.content-block{
    position: relative;
}

.content-block__content{
    position: relative;
    z-index: 100;
}

.icon{
    position: relative;
}

.icon__background{
    background: url('img/light-bulb-background.png') no-repeat, center;
    position: absolute;
    background-size: contain;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}